In [1]:
import pandas as pd
import numpy as np

In [2]:
data = list(range(10,50,10))

In [3]:
data

[10, 20, 30, 40]

In [4]:
pd.Series(data = data)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
index = ['a', 'b', 'c', 'd']
pd.Series(data = data, index= index)

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
d = {'a':100, 'b': 200, 'c':300 }
pd.Series(d)

a    100
b    200
c    300
dtype: int64

In [8]:
pd.Series(index)

0    a
1    b
2    c
3    d
dtype: object

In [10]:
counties = ['India', 'US', 'Germany', 'Italy', 'Japan']
series1 = pd.Series(list(range(1,6)), counties)
series1

India      1
US         2
Germany    3
Italy      4
Japan      5
dtype: int64

In [13]:
series2 = pd.Series(list(range(1,6)),['India', 'US', 'Germany', 'China', 'Japan'])
series2

India      1
US         2
Germany    3
China      4
Japan      5
dtype: int64

In [14]:
series1['India']

1

In [16]:
series3 = pd.Series(counties) 
series3

0      India
1         US
2    Germany
3      Italy
4      Japan
dtype: object

In [17]:
series1 + series2

China       NaN
Germany     6.0
India       2.0
Italy       NaN
Japan      10.0
US          4.0
dtype: float64